/* Global */

* {
	padding:0;
	margin:0;
}

:root{
	--lightblue:#c0deed;
	/*	Blue-Orangered	*/
/*	--primary-color:#FF4500;
	--secondary-color:#778899;
	--contrast:	#56a79a;
	--secondary-contrast:#926239;
	--light-color:#fafafa;
	--dark-color:#222;
	--gray:#eee;
	--darkgray:#888888;*/

	/* Magenta-Cyan*/ 
	--primary-color:#ff00ff;
	--secondary-color:#ff69b4;
	--contrast:	#00ffff;
	--secondary-contrast:#ADD8E6;
	--light-color:#fafafa;
	--dark-color:#222;
	--gray:#eee;
	--darkgray:#888888;

	/*	Magenta-Lime */	
	/*--primary-color:#ff00ff;
	--secondary-color:#ff69b4;
	--contrast:	#32CD32;
	--secondary-contrast:#98fb98;
	--light-color:#fafafa;
	--dark-color:#222;
	--gray:#eee;
	--darkgray:#888888;*/
}

body{
	font-family:'Open-sans',sans-serif;
	font-size: 17px;
	background:var(--light-color);
}

.main-container{
	display:grid;
	grid-template-areas: 
	"subheader"
	"header"
	"showcase"
	"content"
	"footer";
	margin:0px;
	padding:0 15px 0 15px;
}

.container{
	padding:0 5px 0 5px;
}

/* Spinners */
.spinner:before{
	content: "";
	box-sizing: border-box;
	position: fixed;
	z-index: 2;
	top: 20%;
	left: 50%;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	border-radius: 50%;
	border: 2px solid transparent;
	border-top-color: var(--primary-color);
	border-bottom-color: var(--primary-color);
	animation: spinner 0.7s ease infinite;
}


@keyframes spinner {
	to{
		transform:rotate(360deg);
	}
}

/* Subheader*/
.subheader{
	grid-area:subheader;
	background: var(--dark-color);
	color:var(--light-color);
	border-bottom:2px solid var(--contrast);
	padding-bottom: 4px;
}

.subgrid{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: "svg profile"
}

.svg{
	grid-area: svg;
	padding-top: 2px
}

.profile-grid{
	grid-area: profile;
	grid-column-start: right;
	padding: 8px;
}

.subheader p svg{
	padding-left: 10px
}

.subheader p path{
	stroke:var(--light-color);
}

.subheader p:hover{
	cursor: pointer;
}

.button{
	padding: 2px 5px;
	color:var(--light-color);
	border:0;
	margin-right: 4px;
	text-align: center;
	cursor:pointer;
	text-decoration: none;
}

.button:hover{
	color:var(--primary-color);
}

.top-tn{
	height:20px;
	width:20px;
	overflow:hidden;
	float:right;
}

.top-tn img{
	max-width: 100%
}

#notifdrop{
	display:none;
	z-index: 1;
	position:absolute;
	right:16px;
	top:42px;
	max-height:320px;
	width:280px;
	background: var(--gray);
	border: 1px solid var(--darkgray);
	color:var(--dark-color);
	overflow-y:auto;
}

#notifdrop li,#notiflist li{
	color:var(--dark-color);
	padding:5px;
	border:1px solid var(--darkgray);
	list-style: none;
	line-height: 2rem;
}

#notifdrop a,#notiflist a{
	text-decoration: none;
	color:var(--primary-color);
}

#notifnum{
	background: red;
	padding:0 4px;
	border-radius: 50%;
	color: var(--light-color);
}

/* Header */
#main-header{
	grid-area:header;
	border-bottom: 2px solid var(--primary-color);
	background: var(--dark-color);
	color:var(--light-color);
}

#highlight-text,#first-text{
	color:var(--primary-color);
}

#header-text a{
	text-decoration: none;
	color:var(--light-color);
}

.grid-header{
	display:grid;
	grid-template-columns: 2fr 3fr 1fr;
	grid-template-areas: "title nav login";
	align-items:center;
	padding: 10px 0;
}

.main-nav a.current{
	color:var(--contrast);
	padding-bottom:3px;
}

.box1{
	grid-area:title;
}

.box2{
	grid-area:nav;
	padding-top: 10px;
}
.box3{
	grid-area:login;
	grid-column-start: right;
	padding-right: 2px;
}

#header-text{
	padding-left:10px;
}

.main-nav ul li{
	display:inline;
	padding-right:20px;
	list-style:none;
}

.main-nav a{
	text-decoration: none;
	color:var(--light-color);
}

.main-nav a:hover{
	text-decoration: none;
	color:var(--primary-color);
}



.box3 input[type='text']{
	height: 25px;
	border-radius:5px;
}
/* Side Nav*/
.side-nav{
	height:100%;
	width:0;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color:var(--dark-color);
	opacity:0.9;
	overflow-x:hidden;
	padding-top:60px;
}

.side-nav a{
	padding:10px 10px 10px 30px;
	text-decoration:none;
	font-size:22px;
	color:var(--light-color);
	display:block;
	transition:0.3s;
}
.side-nav li{
	list-style: none;
}
.side-nav a:hover{
	color:var(--primary-color);
}

.side-nav .btn-close{
	color:var(--light-color);
	position:absolute;
	top:0;
	right:22px;
	font-size:36px;
	margin-left:50px;
}

.side-nav .btn-close:hover{
	color:var(--primary-color);
	cursor: pointer;
}

/* Showcase */
.showcase{
	grid-area:showcase;
	background:url(../img/showcase.jpeg);
	border-bottom: 3px solid var(--contrast);
	height: 420px;
	position:relative;
	opacity:0.90;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.showcase-container{
	background:var(--dark-color);
	padding:60px 40px;
	text-align: center;
	margin: auto;
	height:80px;
	width:60%;
	border-radius: 35px;
	margin-top:125px;
}

.showcase-content{
	color:var(--light-color);
}

.showcase-content h1{
	color:var(--primary-color);
}

.showcase-content a{
	font-size: 18px;
	text-decoration:none;
	color:var(--contrast);
	border:var(--contrast) 1px solid;
	padding:10px 20px;
	border-radius: 10px;
	margin-top:20px;
}
.showcase-content a:hover{
	color:var(--primary-color);
	border:var(--primary-color) 1px solid;
}


/* Modal */

.modal{
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.5);
	color:var(--dark-color);
	font-weight: bold;
}

.modal-content{
	background-color:var(--light-color);
	margin:10% auto;
	padding:0;
	width:30%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); 
	animation-name:modalopen;
	animation-duration: 1s;
}

.modal-header{
	background:var(--dark-color);
	padding:15px;
	color:var(--light-color);
	border-bottom: 2px solid var(--contrast)
}

.modal-header h2{
	margin:0;
}

.modal-body{
	padding:10px 20px;
}

.modal input[type='text'],.modal input[type='password']{
	border-radius: 3px;
	height: 30px;
	margin: 10px;
	width: 80%;
}
.modal input[type='checkbox'],.edit-form input[type='checkbox']{
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	margin-left: 20px;
	margin-top: 10px;
}

.modal label{
	font-size: 12px;
	font-style: ;
}

.modal .modal-button{
	background: var(--darkgray);
	padding:1em 1em;
	color:var(--light-color);
	margin-right: 4px;
	border-radius: 8px;
	margin-top: 5px;
}

.modal .modal-button:hover{
	background:var(--primary-color);
}

.modal-footer{
	background:var(--darkgray);
	padding:10px;
	text-align:center;
	border-top: 2px solid var(--primary-color);
}

.modal-footer a{
	color:var(--light-color);
	font-size: 14px;
}

.modal-footer a:hover{
	color:var(--contrast);
}

#closeBtn{
	color:#fff;
	float:right;
	font-size:30px;
}

#closeBtn:hover,.closeBtn:focus{
	color:var(--primary-color);
	text-decoration: none;
	cursor:pointer;
}

@keyframes modalopen{
	from{opacity:0}
	to {opacity:1};
}

/* Index Content */
.main-content-grid{
	grid-area:content;
	display:grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "main sidebar";
}

.content-body{
	grid-area: main;
	padding:5px;
	padding:10px;
	border-right: 1px solid var(--dark-color);
	background: var(--gray);
}

.content-body h2{
	color:var(--primary-color);
	border-bottom: 1px solid var(--darkgray);
	margin:2px;
}

.sidebar{
	grid-area:sidebar;
	background: var(--light-color);
	padding:10px;
	margin:5px;
	box-shadow: 5px 10px var(--darkgray);
}

.sidebar h3{
	color:var(--primary-color);
}

/* Content from other pages */

.other-content{
	padding:5px;
	background: var(--gray);
	min-height:70vh;
}

.other-content h1{
	float:center;
	font-size: 25px;
	border-bottom: 3px solid var(--darkgray);
}

.content-box{
	margin:12px;
}

.content-box h2{
	margin-bottom: 1rem;
	text-align: center;
}

h2.next-h2{
	padding-right: 0px;
}

.content-box p{
	padding-left: 18px;
}

/* Forms */
.form{
	margin-left: auto;
    margin-right: auto;
}

.form form{
	width:80%;
	background:#333;
	color:var(--light-color);
	padding:20px;
	border-radius: 16px;
}

.edit-form p{
	font-style: italic;
	font-size: 15px;
	color:var(--darkgray);
}

.form form input[type="text"],.form form input[type="number"], .form form input[type="email"], .form form input[type="password"],.form form input[type="date"], .edit-form form input[type="text"], .edit-form form input[type="number"], .edit-form form input[type="email"], .edit-form form input[type="password"], .edit-form input[type="date"]{
	width:80%;
	height:30px;
	margin-bottom:10px;
}

.form form textarea, .edit-form form textarea{
	width:80%;
	height:60px;
}

.form form button, .edit-form form button{
	width:50%;
	padding:10px 0;
	border:0;
	background:#222;
	color:#fff;
	cursor: pointer;
}

.edit-form input[type="file"]{
	height:30px;
}
.edit-form input[type="submit"]{
	height:30px;
	width:60px;
}

.edit-form{
	background:var(--lightblue) ;
	color: var(--dark-color);
	width:50%;
	margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom:15px;
    padding:10px 20px;
    border-radius: 8px;
    border: 1px solid var(--dark-color);
}

#edit-bio{
	height: 200px;
}


.contact form label{
	text-transform: 
}

.grid-register{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"leftbox rightbox"
	"error error"
}

.box-reg1{
	grid-area: leftbox;
}

.box-reg2{
	grid-area: rightbox;
}

#gender-box{
	background: var(--gray);
	color: var(--dark-color);
	margin: 5px 0 5px 0;
	padding:10px -50px 10px -50px;
}

#error-message,#error-message2,#error-message3,#error-message4{
	grid-area: error;
	width:100%;
	padding:0;
	margin-top:4px;
	background:red;
	color:var(--light-color);
}

#error-message li, #error-message2 li{
	list-style:none;
	padding: 2px 0;
}

#thanks-message{
	position: absolute;
	width: 30%;
	height: auto;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	text-align: center;
	padding: 40px 0;
}

#thanks-message a{
	color:var(--primary-color);
}

/* Profile */
.user-grid{
	display:grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: "left-grid right-grid";
	border:1px solid var(--dark-color);
	box-shadow: 5px 10px var(--darkgray);
	background: var(--gray);
	min-height: 100vh;
}

.left-grid{
	grid-area: left-grid;
	border-right: 1px solid var(--dark-color);
	background:var(--light-color);
	color:var(--dark-color);
}

.left-grid h1{
	font-size: 20px;
}

.profile-pic-wrap{
	height:250px;
	max-width: 100%;
	background: transparent;
	border:1px solid var(--dark-color);
}

.profile-pic-wrap img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 100%;
	max-width: 100%;
}

.user-header{
	text-align: center;
	border-bottom:1px solid var(--darkgray);
}

.friends{
	min-height: 100px;
	border-bottom:1px solid var(--darkgray);
}

.dashboard{
	padding:5px;
}

.left-grid h3{
	font-size: 15px;
	font-style: italic;
	font-weight: normal;
}
.left-grid a{
	color:var(--dark-color);
	text-decoration: none;
}

.left-grid a:hover{
	color:var(--primary-color);
}
.left-grid li{
	list-style:none;
	border-bottom:1px solid var(--darkgray);
	padding:2px;
}

.right-grid{
	grid-area: right-grid;
	padding:5px;
	color:var(--dark-color);
}

.right-grid h1{
	font-size: 25px;
	text-decoration: underline;
}

.right-grid li{
	list-style: none;
	border-bottom:1px solid var(--darkgray);
	padding:2px;
}

.biography{
	min-height: 200px;
	padding:5px;
	border-top:1px solid var(--darkgray);
	border-bottom:1px solid var(--darkgray);
}

.biography p{
	padding-top: 2px;
	padding-left: 5px;
}

#profile-comments{
	min-height: 200px;
	padding:5px;
	border-top:1px solid var(--darkgray);
}

#allcom{
	color:var(--dark-color);
}

#profile-comments textarea{
	width:90%;
	height:125px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	border-radius: 5px;
}

#profile-comments input[type='submit']{
	height: 25px;
	width: 50px;
	border:0;
	background: var(--darkgray);
	color:var(--light-color);
	cursor: pointer;
}

#profile-comments input[type='submit']:hover{
	background: var(--primary-color);
}

#comment-submit{
	display:block;
	margin-left: auto;
	margin-right: auto;
	border:0;
	height: 30px;
	width: 60px;
	cursor: pointer;
	margin-top: 2px;
	margin-bottom: 5px;
}

.comment-box{
	width:90%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
}

.comment-box small{
	float:right;
}

.comment-header{
	background: var(--dark-color);
	color: var(--light-color);
	padding:2px;
	padding-bottom:12px;
}

.cm-user{
	color: var(--light-color);
	text-decoration: none;
	padding-left:4px;
}

.cm-user:hover{
	color:var(--primary-color);
}

.comment-body{
	background: var(--light-color);
	padding-left: 5px;
	min-height:80px;
	border: 1px solid var(--dark-color);
}

.comment-body a{
	text-decoration: none;
	background: var(--darkgray);
	color:var(--light-color);
	font-size: 12px;
	padding: 6.2px 15px;
}

.comment-body a:hover{
	background: var(--primary-color);
}

.comment-tn{
	height:30px;
	width:30px;
	overflow:hidden;
	float:left;
}

.comment-tn img{
	max-width: 100%;
}

.modified{
	font-style:italic;
	text-align: right;
	margin-top: 30px;
	font-size: 10px;
}

.editcmt-form{
	background:var(--lightblue) ;
	color: var(--dark-color);
	width:50%;
	margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom:15px;
    padding:10px 20px;
    border-radius: 8px;
    border: 1px solid var(--dark-color);
}

#cmt-val{
	width:90%;
	height:100px;
}

.editcmt-form input[type='submit']{
	width:20%;
	padding:10px 0;
	border:0;
	background:#222;
	color:#fff;
	cursor: pointer;
}

.btp{
	color:var(--dark-color);
}

/* Footer */
.main-footer{
	grid-area:footer;
	border-top: 3px solid var(--primary-color);
	background: var(--dark-color);
	color:var(--contrast);
	text-align: center;
	padding: 8px;
}

/* Responsive */
@media(max-width: 1080px){
	.showcase{
		height:auto;
	}
	.showcase-container{
		height:auto;
		margin-bottom: 25px
	}
}

@media(max-width: 800px){
	.main-nav a.current{
		margin-bottom:5px;
	}

	.grid-header{
		grid-template-columns: 2fr 2fr 1fr;
	}

	.modal-content{
		width:60%;
	}
	.modal input[type='text'],.modal input[type='password']{
		width: 80%;
	}

	.main-nav ul li{
		display:block;
	}
	#main-header{
		height:auto;
		padding: 5px;
	}
	.main-content-grid{
		grid-template-columns: 1fr;
		grid-template-areas: "main"
		"sidebar";
		align-items:center;
	}

	.form form{
		width:80%;
	}
	.edit-form{
		padding:0;
		width:80%;
	}

	.grid-register{
		grid-template-columns: 1fr;
		grid-template-areas: 
		"leftbox"
		"rightbox"
		"error";
	}
	
	.user-grid{
		display:block;
	}
}


@media(max-width: 568px){
	.grid-header{
		display: block;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"title"
		"nav"
		"login";
		align-self: center;
	}
	.subgrid{
		display: block;
	}

	.modal-content{
		width:80%;
	}
	.modal input[type='text'],.modal input[type='password']{
		width: 100%;
		height: 45;
	}

	.showcase{
		background-attachment: scroll;
	}

	.other-content h1{
		float:none;
		text-align: center;
	}

	.content-box h2{
		padding-right: 0px;
		font-size: 22px;
	}

	.form form{
		width:100%;
	}

	.edit-form{
		width:100%;
	}

	#thanks-message{
		margin: -100px -70px;
	}
}
